@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    top:10vw;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
#box{
    position: relative;
    width: 320px;
    height: 495px;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 0 50px 1px hsla(219, 15%, 55%, 0.397);
}
h1{
    margin: 3px 28px;
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
p{
    font-size: 16px;
    margin:13px 30px;
    color: hsl(220, 15%, 55%);
}
img{
    margin: 15px;
    max-width: 89%;
    border-radius: 10px;
}
